@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: poppins;
margin: 0%;
padding: 0%;
}
::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(91, 91, 228);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

    .h{
        display: flex;
        justify-content: center;

    }

    .v{
        backdrop-filter: blur(10%);
        display: flex;
        justify-content: space-around;
        max-width: 1500px;
        padding-bottom: 10px;
        position: -webkit-sticky;
        margin: 0px;
        width: 50%;
        background-color:#dbe0ec61;
        overflow: hidden;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    
        }

    .c2{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 35px;
    gap: 15px;
    }
    .mp{
        margin-top: 5px;
    }

    .c{
        padding: 20px;
        color: white;
        font-weight: 600;
        text-decoration:none ;
        color: inherit; 
        border-radius: 20px;
        backdrop-filter: blur(50%);
        font-size: 19px;
        
    }
    .c:hover{
    background-color:rgb(140, 137, 137);
    }

    img{
    margin: 20px;
    height: 40px;
    width: 40px;
    }


.har2{
margin-top: 50px;
display: flex;
align-items: center;
height: 40%;
margin-bottom: 20px;
margin-left: 10px;
}
.har3{
width: 500px;
height: 700px;
background-color: #dbe0ec61;
display: flex;
flex-direction: column;
overflow-y: scroll;
border-radius: 50px;
}
.har{
font-size: medium;
font-weight: 500;
padding: 30px;

}
.pm1{
    background-color: rgb(66, 61, 61);
    height: 300px;
    width: auto;
}
#location{
    height: 250px;
    width: 250px;
    overflow: hidden;

}






